{
    "prefixes": ["prefix1", "prefix2"],
    "mojira": true,
    "disabled_cogs": ["cogs.example", "cogs.example2"],
    "disabled_commands": ["example_command", "example_command2"],
    "token": "ExampleToken",
    "tags": {},
    "snipe_timeout" : 10,
    "stable_horde": "0000000000"
}
